.tableButton {
    font-size: 16px;
	margin: .1em;
	display: block;
	position: relative;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	line-height: 1;
}